config setup

conn %default
	ikelifetime={{ life_time }} 
	keylife={{ key_life }} 
	rekeymargin={{ re_key }} 
	keyingtries={{ key_try }} 
	keyexchange={{ key_ex }} 
	mobike={{ mob }} 

conn net-net
	left= {{ left }} 
	leftcert= {{ left_cert }} 
	leftid= {{ left_id }} 
	leftsubnet= {{ left_sub }} 
	leftfirewall= {{ fw }} 
	right= {{ right }} 
	rightid= {{ right_id }} 
	rightsubnet= {{ right_sub }} 
	auto= {{ auto }} 
	
